{% extends 'base.html' %}
{% block content %}
<div class="admin-dashboard">
    
    <div class="stats-card">
        <h3>Total Users: {{ users|length }} / 5</h3>
    </div>



    <h3>Gaming Highlights Video</h3>
    
    <form method="POST" action="{{ url_for('save_video') }}">
    
        <input
            type="text"
            name="youtube_link"
            placeholder="Paste YouTube Video or Shorts Link"
            style="width:100%;padding:12px;border-radius:8px;margin-bottom:10px;">
    
        <button type="submit" class="register-btn">
            Save Video
        </button>
    
    </form>
    
    <br>


    
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>

                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>

                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
                <td>
                    <a href="{{ url_for('delete', id=user.id) }}" class="btn-delete">
                        Delete User
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}